NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bean_stamp
GOOGLE_CLOUD_PROJECT=replace_me
GCS_BUCKET_UPLOADS=replace_me
